![logo](../files/misc/logo.png)
<h1 style="color:#872325">Databases</h1>

## Bases de Datos Relacionales

En esta sección veremos como trabajar con bases de datos relacionales dentro de Python.

Algunas de las ventajas de trabajar con bases de datos en Python son las siguientes:

1. La portabilidad de Python;
2. la posibilidad de acceder a _queries_ de las bases de datos por medio de _conectores_
3. Python nos permite conectarnos a las bases de datos más comúnmente usadas:
    * MySQL,
    * Postgress,
    * Oracle,
    * MS-SQL,
    * Firebird,
    * etc.

## MySQL

Durante esta sección del curso trabajaremos con MySQL. MySQL es uno de los manejadores de bases de datos relacionales más popular entre la comunidad _open source_.

MySQL, así como otros manejadores de bases de datos, requieren de sistemas que permitan manipular la información. Dentro de la línea de comandos, podemos acceder a una base de datos MySQL por medio del comando `mysql`.

In [3]:
%%html
<script id="asciicast-vfZ8sS0rjYxM1OLjegTdi0Uns"
        src="https://asciinema.org/a/vfZ8sS0rjYxM1OLjegTdi0Uns.js" async
        data-autoplay="true" data-speed=1 data-loop=1 data-theme="monokai"
        data-rows=20 data-columns=30></script>

## PyMySQL

PyMySQL is un cliente de MySQL escrito en Python basado en [PEP 249](https://www.python.org/dev/peps/pep-0249/): Especificaciones de API para bases de datos en Python v2.0.

Un cliente de bases de datos, `PyMySQL` en este caso, se conecta a la base de datos y hace los queries o manipulaciones a la base de datos seleccionada.

Durante el resto de esta sección, ocuparemos la base de datos `nabla_python` ubicada dentro de [db4free.net](https://db4free.net/signup.php). `nabla_python` contiene las siguientes tablas:

```bash
mysql> use nabla_python 
Reading table information for completion of table and column names
You can turn off this feature to get a quicker startup with -A

Database changed
mysql> show tables;
+------------------------+
| Tables_in_nabla_python |
+------------------------+
| customers              |
| employees              |
| offices                |
| orderdetails           |
| orders                 |
| payments               |
| productlines           |
| products               |
+------------------------+
8 rows in set (0.17 sec)
```

%%bash
mysql -h host_name -P 0000 -u user_name -p < database.sql

In [16]:
import pymysql

El primer paso para conectarnos a una base de datos por medio de `pymysq`, es crear una conección hacía la base

In [17]:
# Leemos contraseña hacía la base de datos (no dentro de git repo)
passw = 'maquina271' #open("../files/lec01/passw.txt").read().rstrip()

In [18]:
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       charset="utf8")

Dada una conección, la manera de interactuar con una base de datos desde `pymysql` es mediante la creación de un cursor el cuál se puede usar junto con una conección dentro de un _context manager_.

In [19]:
with conn.cursor() as cursor:
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
print(f"Current MySQL version {version}")

Current MySQL version ('8.0.18',)

1. Una vez creado un *cursor*, ejecutamos comandos de MySQL por medio del método `execute`.
2. Un cursor recaba la información dentro de la base de datos y arroja la información a la sesión de python por medio de los métodos `fetchone`,  `fetchmany` o `fetchall`.

In [20]:
# Ejecutamos comandos para mostrar bases de datos y obtenemos 
# únicamente el primer registro
with conn.cursor() as cursor:
    cursor.execute("SHOW DATABASES;")
    dbs = cursor.fetchone()
dbs

('information_schema',)

In [21]:
# Ejecutamos comandos para mostrar bases de datos y obtenemos 
# todos los registros
with conn.cursor() as cursor:
    cursor.execute("SHOW DATABASES;")
    dbs = cursor.fetchall()
dbs

(('information_schema',), ('nabla_python',))

In [22]:
# Cerramos sesión una vez dejada de ocuparlo
conn.close()

### Consultando una base de datos

Dada una nueva conección en `pymysql`, accedemos a la base de datos de nuestra elección por medio del parámetro `database`.

In [23]:
# Creamos nueva conección y seleccionamos base de datos a conectarnos
conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8")

In [24]:
# Ejecutamos query para mostrar tablas que existan dentro de la
# base de datos "nabla_python"
with conn.cursor() as cursor:
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()

In [25]:
for table in tables:
    print(table)

('customers',)
('employees',)
('offices',)
('orderdetails',)
('orders',)
('payments',)
('productlines',)
('products',)

In [26]:
with conn.cursor() as cursor:
    cursor.execute("DESCRIBE customers")
    descriptions = cursor.fetchmany(size=5)

for desc in descriptions:
    print(desc)

('customerNumber', 'int(11)', 'NO', 'PRI', None, '')
('customerName', 'varchar(50)', 'NO', '', None, '')
('contactLastName', 'varchar(50)', 'NO', '', None, '')
('contactFirstName', 'varchar(50)', 'NO', '', None, '')
('phone', 'varchar(50)', 'NO', '', None, '')

In [27]:
conn.close()

### Regresando resultados como una colección de diccionarios

Que el resultado de nuestra consulta sea regresado como una colección de _tuples_ no logra ser tan conveniente si deseamos indexar una fila por nombre de columna y no por posición.

A fin de que las filas regresadas sean de tipo diccionario con la llave siendo el nombre de la columna, podemos crear un nuevo conector y especificando que el valor a regresar sea de tipo `dict`.

In [32]:
from pymysql.cursors import DictCursor

conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8",
                       cursorclass=DictCursor)

In [33]:
query="""
SELECT customerName, phone
FROM customers;
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    customers = cursor.fetchmany(10)

conn.close()

In [53]:
[cust["customerName"].upper() for cust in customers]

['ATELIER GRAPHIQUE',
 'SIGNAL GIFT STORES',
 'AUSTRALIAN COLLECTORS, CO.',
 'LA ROCHELLE GIFTS',
 'BAANE MINI IMPORTS',
 'MINI GIFTS DISTRIBUTORS LTD.',
 'HAVEL & ZBYSZEK CO',
 'BLAUER SEE AUTO, CO.',
 'MINI WHEELS CO.',
 'LAND OF TOYS INC.']

In [54]:
[cust["phone"] for cust in customers]

['40.32.2555',
 '7025551838',
 '03 9520 4555',
 '40.67.8555',
 '07-98 9555',
 '4155551450',
 '(26) 642-7555',
 '+49 69 66 90 2555',
 '6505555787',
 '2125557818']

In [49]:
for customer in customers:
    print(customer["customerName"], customer["phone"])

Atelier graphique 40.32.2555
Signal Gift Stores 7025551838
Australian Collectors, Co. 03 9520 4555
La Rochelle Gifts 40.67.8555
Baane Mini Imports 07-98 9555
Mini Gifts Distributors Ltd. 4155551450
Havel & Zbyszek Co (26) 642-7555
Blauer See Auto, Co. +49 69 66 90 2555
Mini Wheels Co. 6505555787
Land of Toys Inc. 2125557818

### Comandos básicos en SQL

En esta sección veremos algunos de los comandos más comúnes dentro de SQL.

In [56]:
from pymysql.cursors import DictCursor

conn = pymysql.connect(host="db4free.net",
                       user="nabla123",
                       port=3306,
                       password=passw,
                       database="nabla_python",
                       charset="utf8",
                       cursorclass=DictCursor)

La consulta más básica que podemos realizar sobre una tabla de MySQL se compone de la siguiente manera:

```SQL
SELECT * FROM table_name
```

In [57]:
query = "SELECT * FROM orders;"

with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(5)
    
for order in orders:
    print(order)

{'orderNumber': 10100, 'orderDate': datetime.date(2003, 1, 6), 'requiredDate': datetime.date(2003, 1, 13), 'shippedDate': datetime.date(2003, 1, 10), 'status': 'Shipped', 'comments': None, 'customerNumber': 363}
{'orderNumber': 10101, 'orderDate': datetime.date(2003, 1, 9), 'requiredDate': datetime.date(2003, 1, 18), 'shippedDate': datetime.date(2003, 1, 11), 'status': 'Shipped', 'comments': 'Check on availability.', 'customerNumber': 128}
{'orderNumber': 10102, 'orderDate': datetime.date(2003, 1, 10), 'requiredDate': datetime.date(2003, 1, 18), 'shippedDate': datetime.date(2003, 1, 14), 'status': 'Shipped', 'comments': None, 'customerNumber': 181}
{'orderNumber': 10103, 'orderDate': datetime.date(2003, 1, 29), 'requiredDate': datetime.date(2003, 2, 7), 'shippedDate': datetime.date(2003, 2, 2), 'status': 'Shipped', 'comments': None, 'customerNumber': 121}
{'orderNumber': 10104, 'orderDate': datetime.date(2003, 1, 31), 'requiredDate': datetime.date(2003, 2, 9), 'shippedDate': datetime.date(2003, 2, 1), 'status': 'Shipped', 'comments': None, 'customerNumber': 141}

Al consultar una base de datos, en pocas ocasiones es necesario adquirir todas las columnas de una tabla. Por lo que podemos seleccionar explicitamente que columnas ocuparemos de la siguiente manera:

```SQL
SELECT C0, C1, ..., CN FROM table_nable
```

In [58]:
query = "SELECT orderDate, shippedDate, customerNumber FROM orders;"
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(5)
    
for order in orders:
    print(order)

{'orderDate': datetime.date(2003, 1, 6), 'shippedDate': datetime.date(2003, 1, 10), 'customerNumber': 363}
{'orderDate': datetime.date(2003, 1, 9), 'shippedDate': datetime.date(2003, 1, 11), 'customerNumber': 128}
{'orderDate': datetime.date(2003, 1, 10), 'shippedDate': datetime.date(2003, 1, 14), 'customerNumber': 181}
{'orderDate': datetime.date(2003, 1, 29), 'shippedDate': datetime.date(2003, 2, 2), 'customerNumber': 121}
{'orderDate': datetime.date(2003, 1, 31), 'shippedDate': datetime.date(2003, 2, 1), 'customerNumber': 141}

En casos sobre los cuáles nos interesen ciertas filas en específico, recurrimos al comando `WHERE`

```SQL
SELECT C0, C1 FROM table_name WHERE cond
```

En este caso, `cond` es una condición booleana la cuál regresa únicamente los elementos que terminen siendo evaluados como verdaderos.

In [59]:
query = """
SELECT orderDate, shippedDate, customerNumber
FROM orders
WHERE shippedDate - orderDate < 30;
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(5)
    
for order in orders:
    print(order["orderDate"],
          order["shippedDate"],
          order["customerNumber"])

2003-01-06 2003-01-10 363
2003-01-09 2003-01-11 128
2003-01-10 2003-01-14 181
2003-02-11 2003-02-12 145
2003-02-17 2003-02-21 278

A fin de realizar múltiples condiciones dentro de una misma consulta hacemos uso de los comandos `AND` y `OR`.

In [60]:
query = """
SELECT orderDate, customerNumber, status, orderDate
FROM orders
WHERE shippedDate - orderDate < 30 AND
      (status = 'Resolved' OR status = "Disputed");
"""
with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchmany(5)
    
for order in orders:
    print(order["orderDate"], order["customerNumber"], order["status"])

2003-10-21 452 Resolved
2004-11-10 145 Resolved
2005-01-12 205 Resolved
2005-03-01 141 Resolved
2005-04-15 145 Disputed

Algunas consultas a bases de datos implican la unión de dos o más tablas. La manera básica de unir dos tablas es la siguiente:

```SQL
SELECT C0, C1 FROM table_name JOIN other_table ON (table_name.c1 = other_table.c2)
```

* `JOIN`
* `LEFT JOIN`
* `RIGHT JOIN`
* `FULL JOIN`

In [68]:
query = """
SELECT customerName, status
FROM customers
JOIN orders
ON orders.customerNumber = customers.customerNumber;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    elements = cursor.fetchmany(10)
    
for element in elements:
    print(element)

AttributeError: 'Connection' object has no attribute 'cursor'

Podemos realizar consultas sobre un grupo de elementos y aplicar alguna función sobre cada uno de los grupos encontrados por medio del comando `GROUP BY`.

```SQL
SELECT F(C1) FROM table_name GROUP BY C1
```

Cualquier función que podamos ocupar una vez agregados elementos tiene por nombre _aggregate function_. Algunas de las funciones agregadas que podemos usar en MySQL incluyen:

* `AVG`
* `COUNT`
* `SUM`
* `MAX`
* `MIN`
* `STD`

In [62]:
query = """
SELECT state, COUNT(state) AS count_state
FROM customers
GROUP BY state;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    states_count = cursor.fetchall()

for element in states_count:
    print(element["count_state"], element["state"])

0 None
1 NV
2 Victoria
11 CA
6 NY
3 PA
4 CT
9 MA
1 Osaka
2 BC
1 Québec
1 Isle of Wight
2 NSW
1 NJ
1 Queensland
1 Co. Cork
1 Pretoria
1 NH
1 Tokyo

Notemos que en el ejemplo anterior asignamos `count_state` a aplicar la operación `COUNT(state)`. En general, para cualquier operación que hagamos sobre columnas podemos otorgarles un nombre a estas con el comando `AS`:

```SQL
SELECT F(C0, C1, ..., CN) AS result_name
FROM ...
```

Finalmente, el comando `HAVING` hace filtros sobre filas una vez que hemos agrupado los elementos de las filas de alguna manera.

```SQL
SELECT F(Ci) AS derived
FROM table_name
GROUP BY Ci
HAVING P(derived)
```

Dónde `P` es un predicado, i.e., una funció sobre `derived` que regresa verdadero o falso.

In [63]:
# Buscamos el estado con más registros dentro de la tabla "customers"
query = """
SELECT state, COUNT(state) as count_state
FROM customers
GROUP BY state
HAVING count_state IS NOT NULL
ORDER BY count_state DESC
LIMIT 1;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    states_count = cursor.fetchall()

for element in states_count:
    print(element)

{'state': 'CA', 'count_state': 11}

<h2 style="color:teal">Ejemplo</h2>

Obten, para cada estado, cuantas ordenes con `status` `"Shipped"` se han hecho. Considerarémos únicamente los estados de EEUU, i.e., los estados con dos carácteres.

In [64]:
query = """
SELECT state, COUNT(state) as count_state
FROM customers
JOIN orders ON orders.customerNumber = customers.customerNumber
WHERE status = 'Shipped' and state IS NOT NULL
GROUP BY state
HAVING CHAR_LENGTH(state) = 2
ORDER BY count_state DESC;
"""

with conn.cursor() as cursor:
    cursor.execute(query)
    orders = cursor.fetchall()
    
for order in orders:
    print(f"{order['count_state']:02}: {order['state']}")

42: CA
22: MA
17: NY
08: PA
08: CT
04: BC
03: NH
03: NV
02: NJ

## *SQLAlchemy* y los *ORM*s

A grandes rasgos, un **ORM** (Object Relational Mapper) abstrae el código derivado de una consulta en SQL y nos permite hacer esas mismas consultas bajo un paradigma OOP. En otras palabras, en lugar de ocupar SQL, estaremos ocupando objetos de Python como clases para hacer consultas.

> La razón principal de usar un ORM es despreocuparnos de las especificaciones y peculiaridades asociadas a la base de datos de elección.

Esto último garantiza que nuestro código corra sin importar el manejador de bases de datos que elijamos.

Para conectarnos a una base de datos con `SQLAlchemy` es necesario crear un `engine`. Este `engine` crea una interfaz entre Python y la base de datos sobre la cuál ejecutaremos comandos.

```
dialect[+driver]://user:password@host/dbname[?key=value..]
```

Donde:
* `dialect` es el nombre de la base de datos 
* `driver` es el manejador de la base de datos

En nuestro caso, `dialect=mysql` y `driver=pymysql`.

In [69]:
from sqlalchemy import create_engine
engstr = f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python"
engine = create_engine(engstr)
engine

Engine(mysql+pymysql://nabla123:***@db4free.net:3306/nabla_python)

Al crear un `engine`, este no se conecta directamente a la base de datos.
Conectándonos a la base de datos requiere una llamada al método `connect()`

In [70]:
conn = engine.connect()

In [67]:
conn.close()

### _SQLAlchemy_ como un _ORM_.

Para poder trabajar con tablas dentro de una base de datos con _SQLAlchemy_ es necesario declarar la estructura de la base de datos como una clase.

SQLAlchemy sigue un sistema *declarativo* definido en términos de una base clase la cual mantiene un catalogo de clases (tablas) definidas relativas a esa base. Esta base clase es conocida como un **DBC** (declarative base clase).

<h2 style="color:teal">Ejemplo</h2>

Consideremos la tablas `employees` y `offices` definida dentro de la base de datos `nabla_python`.

```
mysql> DESCRIBE employees; 
+----------------+--------------+------+-----+---------+-------+
| Field          | Type         | Null | Key | Default | Extra |
+----------------+--------------+------+-----+---------+-------+
| employeeNumber | int(11)      | NO   | PRI | NULL    |       |
| lastName       | varchar(50)  | NO   |     | NULL    |       |
| firstName      | varchar(50)  | NO   |     | NULL    |       |
| extension      | varchar(10)  | NO   |     | NULL    |       |
| email          | varchar(100) | NO   |     | NULL    |       |
| officeCode     | varchar(10)  | NO   | MUL | NULL    |       |
| reportsTo      | int(11)      | YES  | MUL | NULL    |       |
| jobTitle       | varchar(50)  | NO   |     | NULL    |       |
+----------------+--------------+------+-----+---------+-------+
```

```
mysql> DESCRIBE offices;
+--------------+-------------+------+-----+---------+-------+
| Field        | Type        | Null | Key | Default | Extra |
+--------------+-------------+------+-----+---------+-------+
| officeCode   | varchar(10) | NO   | PRI | NULL    |       |
| city         | varchar(50) | NO   |     | NULL    |       |
| phone        | varchar(50) | NO   |     | NULL    |       |
| addressLine1 | varchar(50) | NO   |     | NULL    |       |
| addressLine2 | varchar(50) | YES  |     | NULL    |       |
| state        | varchar(50) | YES  |     | NULL    |       |
| country      | varchar(50) | NO   |     | NULL    |       |
| postalCode   | varchar(15) | NO   |     | NULL    |       |
| territory    | varchar(10) | NO   |     | NULL    |       |
+--------------+-------------+------+-----+---------+-------+
```

De querer hacer una consulta sobre esta tabla anteriormente definida, será necesario crear una instancia de un _DBC_ y añadir esta tabla a nuestro catálogo.

In [29]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()

class Employee(Base):
    __tablename__ = "employees"
    employeeNumber = Column(Integer, primary_key=True)
    lastName = Column(String(50))
    firstName = Column(String(50))
    extension = Column(String(10))
    email = Column(String(100))
    officeCode = Column(String(10), index=True)
    reportsTo = Column(Integer, index=True)
    jobTitle = Column(String(50))

class Office(Base):
    __tablename__ = "offices"
    officeCode = Column(String(10), primary_key=True)
    city = Column(String(50))
    phone = Column(String(50))
    addressLine1 = Column(String(50))
    addressLine2 = Column(String(50))
    state = Column(String(50))
    country = Column(String(50))
    postalCode = Column(String(15))
    territory = Column(String(10))

En un caso real, el catálogo de tablas para una base de datos estaría viviendo dentro de un archivo `.py`. Ver, por ejemplo, [esta](https://github.com/gerdm/congress_2017/blob/master/app/models.py) definición.

### Sesiones

Para SQLAlchemy, una sesión es la encargada de hacer la conexión con la base de datos; mandar los _queries_ y regresar información.

Una `Session` tiene otras propiedades importantes para el registro y manipulación de una base de datos que no tocaremos en esta lectura. Para más información ver [este](https://docs.sqlalchemy.org/en/13/orm/session_basics.html) link.

In [30]:
from sqlalchemy.orm import sessionmaker

engine = create_engine(engstr)
Session = sessionmaker(bind=engine)
sess = Session()

### Queries sobre sesiones

Como mencionamos anteriormente, un _ORM_ nos permite hacer consultas sobre una base de datos usando únicamente Python. A continuación veremos algunas de las traducciones de SQL a SQLAlchemy

```SQL
SELECT *
FROM employees
LIMIT 5;
```

In [31]:
for instance in sess.query(Employee).limit(5):
    print(instance.firstName)

Diane
Mary
Jeff
William
Gerard

```SQL
SELECT firstName, lastName
FROM employees
LIMIT 5;
```

In [32]:
query = sess.query(Employee.firstName, Employee.lastName).limit(5)

for instance in query:
    print(instance)

('Diane', 'Murphy')
('Mary', 'Patterson')
('Jeff', 'Firrelli')
('William', 'Patterson')
('Gerard', 'Bondur')

```SQL
SELECT DISTINCT firstName
FROM employees
LIMIT 5;
```

In [33]:
query = (sess.query(Employee.firstName)
             .distinct(Employee.firstName)
             .limit(5))

for instance in query:
    print(instance.firstName)

Diane
Mary
Jeff
William
Gerard

```SQL
SELECT firstName, email
FROM employees
WHERE jobTitle = "VP Marketing";
```

In [34]:
query = (sess.query(Employee.firstName, Employee.email)
             .filter(Employee.jobTitle == "VP Marketing"))

for instance in query:
    print(instance)

('Jeff', 'jfirrelli@classicmodelcars.com')

```SQL
WITH tb1 AS(
    SELECT reportsTo, COUNT(reportsTo) as count_rep
    FROM employees
    GROUP BY employee)
SELECT * FROM tb1
WHERE reportsTo IS NOT NULL;
```

In [35]:
from sqlalchemy import func
query = (sess.query(Employee.reportsTo,
                    func.count(Employee.reportsTo).label("count_rep"))
             .group_by(Employee.reportsTo)).subquery()

query = sess.query(query).filter(query.c.reportsTo != None)

for instance in query:
    print(instance)

(1002, 2)
(1056, 4)
(1088, 3)
(1102, 6)
(1143, 6)
(1621, 1)

```SQL
SELECT firstName, city
FROM employees
JOIN offices ON employees.officeCode = employees.officeCode
LIMIT 10;
```

In [36]:
query = (sess.query(Employee.firstName, Office.city)
             .join(Office, Office.officeCode == Employee.officeCode)
             .limit(10))
for element in query:
    print(element)

('Diane', 'San Francisco')
('Mary', 'San Francisco')
('Jeff', 'San Francisco')
('Anthony', 'San Francisco')
('Leslie', 'San Francisco')
('Leslie', 'San Francisco')
('Julie', 'Boston')
('Steve', 'Boston')
('Foon Yue', 'NYC')
('George', 'NYC')

<h2 style="color:crimson">Ejercicios</h2>

Considerando que la relación dentro de la base de datos `nabla_python` tiene la siguiente estructura:

![relation](http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)


1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

---

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)
----

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

---

4. En base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

---

5. En base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

----

6. En base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

---

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

----

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

---

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

## Referencias

1. https://pymysql.readthedocs.io/en/latest/index.html
2. https://docs.sqlalchemy.org
3. https://www.fullstackpython.com/databases.html
4. https://blog.bitsrc.io/what-is-an-orm-and-why-you-should-use-it-b2b6f75f5e2a
5. http://zetcode.com/python/pymysql/
6. http://www.mysqltutorial.org/mysql-sample-database.aspx
7. https://stackoverflow.com/questions/8940230/how-to-run-sql-script-in-mysql