<h2 style="color:crimson">Ejercicios</h2>

Considerando que la relación dentro de la base de datos `nabla_python` tiene la siguiente estructura:

![relation](http://www.mysqltutorial.org/wp-content/uploads/2009/12/MySQL-Sample-Database-Schema.png)

In [75]:
import pymysql

In [42]:
class SingleSql():
    
    def __init__(self, database):
        self.conn = self.set_connection()
        self.database = f"USE {database};"
        
    def set_connection(self):
        return pymysql.connect(host="db4free.net",
                               user="nabla123",
                               port=3306,
                               password=open("../files/lec01/passw.txt").read().rstrip(),
                               charset="utf8")
    
    def get_connection(self):
        return self.conn
        
    def fetchone(self, query):
        records = ((),)
        with self.conn.cursor() as cursor:
            cursor.execute(self.database)
            cursor.execute(query)
            records = cursor.fetchone()
        return records
    
    def fetchall(self, query):
        records = ((),)
        with self.conn.cursor() as cursor:
            cursor.execute(self.database)
            cursor.execute(query)
            records = cursor.fetchall()
        return records
    
    def fetchmany(self, query):
        records = ((),)
        with self.conn.cursor() as cursor:
            cursor.execute(self.database)
            cursor.execute(query)
            records = cursor.fetchmany(size=5)
        return records
    
    def close(self):
        self.conn.close()

In [43]:
conn = SingleSql("nabla_python")

1. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.

---

In [44]:
query = '''
SELECT DISTINCT status 
FROM orders
;
'''
print(conn.fetchall(query))

(('Shipped',), ('Resolved',), ('Cancelled',), ('On Hold',), ('Disputed',), ('In Process',))

2. Realiza una consulta a la base de datos `nabla_python` por medio de `pymysql`: encuentra los 10 clientes `customerName` que más han comprado en la tienda. La tabla resultante deberá estar ordenada de mayor a menor con `customerName` y `expenses` como la columna en dónde se encuentre el monto gastado en la tienda. (**hint**: considera las tablas `customers` y `payments`)
----

In [45]:
query = '''
SELECT c.customerName,SUM(p.amount) AS expenses 
FROM payments p
LEFT JOIN customers c ON c.customerNumber = p.customerNumber
GROUP BY p.customerNumber
ORDER BY expenses DESC
LIMIT 10
;
'''
print(conn.fetchall(query))

(('Euro+ Shopping Channel', Decimal('715738.98')), ('Mini Gifts Distributors Ltd.', Decimal('584188.24')), ('Australian Collectors, Co.', Decimal('180585.07')), ('Muscle Machine Inc', Decimal('177913.95')), ('Dragon Souveniers, Ltd.', Decimal('156251.03')), ('Down Under Souveniers, Inc', Decimal('154622.08')), ('AV Stores, Co.', Decimal('148410.09')), ("Anna's Decorations, Ltd", Decimal('137034.22')), ('Corporate Gift Ideas Co.', Decimal('132340.78')), ('Saveley & Henriot, Co.', Decimal('130305.35')))

3. Escribe una consulta que, para cada producto comprado muestre la clave del cliente `customerNumber` y el código del producto `productCode`. Obten los primeros 10 valores

---

In [46]:
query = '''
SELECT o.customerNumber, p.productCode
FROM products p
LEFT JOIN orderdetails od ON p.productCode = od.productCode
LEFT JOIN orders o ON od.orderNumber = o.orderNumber
LIMIT 10
;
'''
print(conn.fetchall(query))

((121, 'S10_1949'), (144, 'S10_1949'), (458, 'S10_1949'), (161, 'S10_1949'), (148, 'S10_1949'), (424, 'S10_1949'), (333, 'S10_1949'), (339, 'S10_1949'), (146, 'S10_1949'), (202, 'S10_1949'))

4. En base al ejercicio anterior, reemplaza `productCode` por `productName`. **HINT**: El comando `WITH` nos ayuda a crear una tabla temporal:

```SQL
WITH t1 as (
    SELECT ...
    )
SELECT t1.ci, t2.cj
FROM t2
JOIN t1 ON t1.cx = t2.cx
```

---

In [47]:
query = '''
WITH t1 AS (
SELECT o.customerNumber, p.productCode
FROM products p
LEFT JOIN orderdetails od ON p.productCode = od.productCode
LEFT JOIN orders o ON od.orderNumber = o.orderNumber
LIMIT 10
)
SELECT t1.customerNumber, p.productName
FROM products p
JOIN t1 ON t1.productCode = p.productCode
;
'''
print(conn.fetchall(query))

((121, '1952 Alpine Renault 1300'), (144, '1952 Alpine Renault 1300'), (458, '1952 Alpine Renault 1300'), (161, '1952 Alpine Renault 1300'), (148, '1952 Alpine Renault 1300'), (424, '1952 Alpine Renault 1300'), (333, '1952 Alpine Renault 1300'), (339, '1952 Alpine Renault 1300'), (146, '1952 Alpine Renault 1300'), (202, '1952 Alpine Renault 1300'))

5. En base al ejercicio anterior, reemplaza `customerNumber` por `customerName`

----

In [48]:
query = '''
WITH t1 AS (
SELECT o.customerNumber, p.productCode
FROM products p
LEFT JOIN orderdetails od ON p.productCode = od.productCode
LEFT JOIN orders o ON od.orderNumber = o.orderNumber
LIMIT 10
)
SELECT c.customerName, p.productName
FROM products p
LEFT JOIN t1 ON t1.productCode = p.productCode
INNER JOIN customers c ON c.customerNumber = t1.customerNumber
;
'''
print(conn.fetchall(query))

(('Baane Mini Imports', '1952 Alpine Renault 1300'), ('Volvo Model Replicas, Co', '1952 Alpine Renault 1300'), ('Corrida Auto Replicas, Ltd', '1952 Alpine Renault 1300'), ('Technics Stores Inc.', '1952 Alpine Renault 1300'), ('Dragon Souveniers, Ltd.', '1952 Alpine Renault 1300'), ('Classic Legends Inc.', '1952 Alpine Renault 1300'), ('Australian Gift Network, Co', '1952 Alpine Renault 1300'), ('Classic Gift Ideas, Inc', '1952 Alpine Renault 1300'), ('Saveley & Henriot, Co.', '1952 Alpine Renault 1300'), ('Canadian Gift Exchange Network', '1952 Alpine Renault 1300'))

6. En base al ejercicio 3, encuentra el nombre del producto `productName` y cuantas unidades se han comprado de ese producto. Ordena los elementos de mayor a menor.

---

In [49]:
query = '''
SELECT p.productName, 
-- o.status, 
CASE WHEN SUM(od.quantityOrdered) IS NULL THEN 0 ELSE SUM(od.quantityOrdered) END AS TOTAL
FROM products p
LEFT JOIN orderdetails od ON od.productCode = p.productCode
-- LEFT JOIN orders o ON o.orderNumber = od.orderNumber
GROUP BY p.productName -- , o.status
ORDER BY TOTAL DESC
;
'''

query = '''
WITH t1 AS (
SELECT o.customerNumber, p.productCode
FROM products p
LEFT JOIN orderdetails od ON p.productCode = od.productCode
LEFT JOIN orders o ON od.orderNumber = o.orderNumber
LIMIT 10
)
SELECT t1.productCode, 
-- o.status, 
CASE WHEN SUM(od.quantityOrdered) IS NULL THEN 0 ELSE SUM(od.quantityOrdered) END AS TOTAL
FROM t1
LEFT JOIN orderdetails od ON od.productCode = t1.productCode
-- LEFT JOIN orders o ON o.orderNumber = od.orderNumber
GROUP BY t1.productCode -- , o.status
ORDER BY TOTAL DESC
;
'''
print(conn.fetchall(query))

(('S10_1949', Decimal('9610')),)

In [50]:
conn.close()

7. Por medio de SQLAlchemy, define la tabla `orders` definida dentro de `nabla_python`

```
+----------------+-------------+------+-----+---------+-------+
| Field          | Type        | Null | Key | Default | Extra |
+----------------+-------------+------+-----+---------+-------+
| orderNumber    | int(11)     | NO   | PRI | NULL    |       |
| orderDate      | date        | NO   |     | NULL    |       |
| requiredDate   | date        | NO   |     | NULL    |       |
| shippedDate    | date        | YES  |     | NULL    |       |
| status         | varchar(15) | NO   |     | NULL    |       |
| comments       | text        | YES  |     | NULL    |       |
| customerNumber | int(11)     | NO   | MUL | NULL    |       |
+----------------+-------------+------+-----+---------+-------+
```

----

In [76]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Date, Float
from sqlalchemy.orm import sessionmaker

In [77]:
Base = declarative_base()

class Order(Base):
    __tablename__ = "orders"
    orderNumber = Column(Integer, primary_key=True)
    orderDate = Column(Date)
    requiredDate = Column(Date)
    shippedDate = Column(Date)
    status = Column(String)
    comments = Column(String)
    customerNumber = Column(Integer, index=True)

8. Por medio de SQLAlchemy, define la tabla `orderdetails` definida dentro de `nabla_python`

```
+-----------------+---------------+------+-----+---------+-------+
| Field           | Type          | Null | Key | Default | Extra |
+-----------------+---------------+------+-----+---------+-------+
| orderNumber     | int(11)       | NO   | PRI | NULL    |       |
| productCode     | varchar(15)   | NO   | PRI | NULL    |       |
| quantityOrdered | int(11)       | NO   |     | NULL    |       |
| priceEach       | decimal(10,2) | NO   |     | NULL    |       |
| orderLineNumber | smallint(6)   | NO   |     | NULL    |       |
+-----------------+---------------+------+-----+---------+-------+
```

---

In [78]:
Base = declarative_base()

class OrderDetail(Base):
    __tablename__ = "orderdetails"
    orderNumber = Column(Integer, primary_key=True)
    productCode = Column(Integer, primary_key=True)
    quantityOrdered = Column(Integer)
    priceEach = Column(Float)
    orderLineNumber = Column(Integer)

9. Realiza una consulta a la base de datos `nabla_python` por medio de `sqlalchemy`: encuentra los tipos de `status` existentes dentro de la tabla `orders`.
    
---

In [79]:
passw = open('../files/lec01/passw.txt').read().rstrip()
engine = create_engine(f"mysql+pymysql://nabla123:{passw}@db4free.net:3306/nabla_python").connect()

Session = sessionmaker(bind=engine)
sess = Session()

for temp in (sess.query(Order.status).distinct(Order.status)):
    print(temp.status)

Shipped
Resolved
Cancelled
On Hold
Disputed
In Process

## Referencias

1. https://pymysql.readthedocs.io/en/latest/index.html
2. https://docs.sqlalchemy.org
3. https://www.fullstackpython.com/databases.html
4. https://blog.bitsrc.io/what-is-an-orm-and-why-you-should-use-it-b2b6f75f5e2a
5. http://zetcode.com/python/pymysql/
6. http://www.mysqltutorial.org/mysql-sample-database.aspx
7. https://stackoverflow.com/questions/8940230/how-to-run-sql-script-in-mysql